<div class="home">
    <app-header></app-header>

    <div class="container">
        <div class="home__body">
            <div class="weather__search">
                <div class="weather__search__input">
                    <input type="text" placeholder="Enter you country" (change)="searchCountry($event)">
                </div>
            </div>
            <div class="home__main">
                <div class="home__main__current">
                    <div class="home__weather">
                        <div class="home__weather__title">
                            Current Weather:
                        </div>
                        <div class="home__weather__main">
                            <div class="weather__location">
                                <div class="weather__block">
                                    <span>Country</span> - {{ weatherData.location.country }}
                                </div>
                                <div class="weather__block">
                                    <span>Kyiv</span> - {{ weatherData.location.name }}
                                </div>
                                <div class="weather__block">
                                    <span>Tzid</span> - {{ weatherData.location.region }}
                                </div>
                            </div>
                            <div class="weather__current">
                                <div class="weather__block weather__block_centered">
                                    <span>Country</span> - {{ weatherData.current.condition.text }} <img [src]="weatherData.current.condition.icon" alt="">
                                </div>
                                <div class="weather__block">
                                    <span>Temp C</span> - {{ weatherData.current.temp_c }}
                                </div>
                                <div class="weather__block">
                                    <span>Temp F</span> - {{ weatherData.current.temp_f }}
                                </div>
                            </div>
                        </div>
                        <div class="home__weather__description">
                            Description
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>