<div class="home">
    <app-header></app-header>

    <div class="container">
        <div class="home__body">
            <div class="home__main">
                <div class="home__main__current">
                    <div class="home__weather">
                        <div class="home__weather__main">
                            Main
                        </div>
                        <div class="home__weather__description">
                            Description
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>